* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.icon-effect {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}

.icon-effect .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.icon-effect .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5S;
    z-index: 1;

}

.icon-effect .box:hover .icon{
    top: 20px;   
    left: calc(50%  - 40px); 
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icon-effect .box .icon .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.icon-effect .box:hover .icon .fa{
    font-size: 40px;
}


.icon-effect .box .content{
    position: absolute;
    height: calc(100% -100px);
    top: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.icon-effect .box:hover .content{
    top: 100px;
    opacity: 1;

}



.icon-effect .box .content h2{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.icon-effect .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
}

.icon-effect .box:nth-child(1) .icon{
    background: #ac2b2b;

}

.icon-effect .box:nth-child(1){
    background: #be3f3f;
}

.icon-effect .box:nth-child(2) .icon{
    background: #6bd118;
}

.icon-effect .box:nth-child(2){
    background: #77e41d;
}

.icon-effect .box:nth-child(3) .icon{
    background: #0ab498;
}

.icon-effect .box:nth-child(3){
    background: #22e6c5;
}

